body {
    background-color: #FB6863;
}

.punchs {
    padding: 15px 30px;  
    background-color: white;
    width: 600px;
    height: 350px;
    font-size: 35px;
    color: #FB6863;
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

#facts_citation {
    text-align: center;
}

#facts_author {
    text-align: right;
}

#button {
    background-color: #FB6863;
    border-style: none;
    padding: 20px;
    color: white;
    border-radius: 10px;
    float: right;
    position: absolute;
    top: 500px;
    right: 650px;
}